.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    height: 60%;
    padding: 2rem;
    background-color: #f2f2f2;
}

.login-image {
    background-image: url('../../../../public/images/background-login.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
}

.login-form {
    display: grid;
}

.login-form-title {
    text-align: center;
}

/* Media query para ajustar el diseño en versiones móviles */
@media (max-width: 768px) {
    .login-content {
        grid-template-columns: 1fr;
    }

    .login-image {
        height: 200px;
    }
}